<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FilmIndustryClient</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="~/Content/bootstrap.4v.min.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="~/clientScripts/inline.bundle.js"></script>
    <script type="text/javascript" src="~/clientScripts/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/clientScripts/styles.bundle.js"></script>
    <script type="text/javascript" src="~/clientScripts/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/clientScripts/main.bundle.js"></script>
</body>
</html>
