<?xml version="1.0"?>

<unity>
  <!--Alias names of all the Assembly names and the namespaces of the class and interface to be registered-->
  <typeAliases>
    <typeAlias alias="IMoviesBAL"
       type="DeltaX.FilmIndustry.BusinessLogic.Interface.IMoviesBAL, DeltaX.FilmIndustry.BusinessLogic.Interface" />
    <typeAlias alias="MoviesBAL"
       type="DeltaX.FilmIndustry.BusinessLogic.MoviesBAL, DeltaX.FilmIndustry.BusinessLogic" />
    <typeAlias alias="IMoviesDAL"
       type="DeltaX.FilmIndustry.DataAccess.Interface.IMoviesDAL, DeltaX.FilmIndustry.DataAccess.Interface" />
    <typeAlias alias="MoviesDAL"
       type="DeltaX.FilmIndustry.DataAccess.MoviesDAL, DeltaX.FilmIndustry.DataAccess" />
  <typeAlias alias="FilmIndustryDB"
       type="DeltaX.FilmIndustry.DataAccess.FilmIndustryDB, DeltaX.FilmIndustry.DataAccess" />
  </typeAliases>
  <!--Registering the Interface to its corresponding Implementation-->
  <container>
    <register type="IMoviesBAL" mapTo="MoviesBAL" />
    <register type="IMoviesDAL" mapTo="MoviesDAL" />
    <register type="FilmIndustryDB" mapTo="FilmIndustryDB" />
  </container>
</unity>